*,*::after,*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.App{
    background: #fff;
  }
.footer{
    .footer-wrapper{
        margin-top:auto;
        width: 100%;
        background: rgb(187, 187, 187);
        color: #01010170;
        display: flex;
        justify-content: center;
        align-items: center;
        div{
            margin: 0 .4em;
            h5{
                width: fit-content;
            }
            p{
                width: fit-content;
            }
        }

    }
  }
  @media screen and (max-width:1140px){
    .home{
        font-size: .7em;
        display: flex;
        flex-direction: column;
        padding: 2em 0;
        .left{
            height: fit-content;
        }
        .right{
            display: none;
        }
    }
    .stack{
        height: fit-content;
        // display:flex;
        // flex-direction: column;
        // align-items: center;
        // justify-content: center;
        // padding-bottom: 1em;
        // font-size: .7em;
        .mern-wrapper{
            display: flex;
            text-align: left;
            flex-direction: column;
        }
        .mern-column{
            margin-right: auto;
            height: 15em;
        }
    }
    .home{
        display: flex;
        flex-direction: column;
    }
    .about{
        height: fit-content;
        font-size: .7em;
    }
    .projects{
        font-size: .7em;
    }
  }
  @media screen and (max-width:550px){
    .header{
        .navlink{
            font-size: 1em;
        }
    }
  }